asgiref==3.9.1
asttokens==3.0.0
attrs==25.3.0
boto3==1.39.8
botocore==1.39.8
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
decorator==5.2.1
dj-database-url==3.0.1
Django==5.0.14
django-allauth==65.10.0
django-allauth-ui==1.0.0
django-cors-headers==4.7.0
django-debug-toolbar==5.2.0
django-storages==1.14.6
django-widget-tweaks==1.5.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.4.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1
executing==2.2.0
gunicorn==23.0.0
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
ipython==9.4.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.0.1
jsonschema==4.24.1
jsonschema-specifications==2025.4.1
matplotlib-inline==0.1.7
oauthlib==3.3.1
packaging==25.0
parso==0.8.4
pillow==11.3.0
pluggy==1.6.0
prompt_toolkit==3.0.51
psycopg==3.2.9
psycopg-binary==3.2.9
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.1
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-decouple==3.8
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
s3transfer==0.13.0
six==1.17.0
slippers==0.6.2
sqlparse==0.5.3
stack-data==0.6.3
stripe==12.3.0
traitlets==5.14.3
typeguard==2.13.3
typing_extensions==4.14.1
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
wcwidth==0.2.13
whitenoise==6.9.0
